<h1>
  test-ember-self-focused
</h1>
<ul>
  <li>
    {{#link-to 'home' }}
      Home
    {{/link-to}}
  </li>
  <li>
    {{#link-to 'about' }}
      About
    {{/link-to}}
  </li>
  <li>
    {{#link-to 'topics' }}
      Topics
    {{/link-to}}
  </li>
</ul>

<hr/>
{{outlet}}
